/* your styles go here */
body {
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif; */
    background-color: #eee;
    /* overflow-x: scroll; */
}

nav.navbar.sticky {
    background-color: #eee;
    /* box-shadow: 0 0 7px 1px #c9c9c9; */
    /* box-shadow: 0 2px 0 #bbb; */
}

a {
    color: #ab0e25;
    text-decoration: underline;

}

/* unvisited link */
a:link {
    color: #ab0e25;
}

/* visited link */
a:visited {
    color: #ab0e25;
}

/* mouse over link */
a:hover {
    color: #ab0e25;
}

/* selected link */
a:active {
    color: #ab0e25;
}

#presis {
    font-size: 0.8rem;
}


.col-2 {
    /* min-width: 141px; */
}


/* 
@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }

    .img-box {
        height: 60px;
    }

    .year {
        font-size: 1.3rem;
    }

    .categories {
        font-size: 0.5rem;
    }

}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }

    .img-box {
        height: 90px;
    }

    .year {
        font-size: 2rem;
    }

    .categories {
        font-size: 0.7rem;

    }
} */


.container {
    max-width: 850px;
}

.img-box {
    height: 120px;
    /* background-color: red; */
    position: relative;
    width: 100%;
    /* padding-top: 100%; */
    /* 1:1 Aspect Ratio */
}





.year {
    font-size: 2rem;
    font-weight: 700;
    /* background-color: #ddd; */
    height: 50px;
    /* top: 50%; */
}



.categories {
    font-size: 0.75rem;
    /* height: 50px; */
}

.img-box {
    /* margin-right: 15px; */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.08), 0 0 0 1px rgba(0, 0, 0, 0.04);
}

.img-box:hover {
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.24), 0 0 0 1px rgba(0, 0, 0, 0.12);
}

nav.nav-bar {
    background-color: #fff;

    /* box-shadow: 0 2px 0 #888; */
    /* -webkit-box-shadow: 0 2px 0 #888; */
}

.ppl-image {

    /* mask: url(.img-box); */
    /* overflow: none; */
    /* height: 100%; */
    width: 100%;
    cursor: pointer;
    /* max-height: 100% */
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0.5px solid #333333;
}

.row-sep {
    margin-top: 0;
    margin-bottom: 0;
    /* border: 1px solid #222; */
}



.img-div {
    /* border-right: 1px solid #444; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* border-bottom: 4px solid #eee; */
    z-index: 50;
}

.img-box {
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
}

.label {
    z-index: 50;
    /* padding-top: 1rem; */
}


#arts-text {
    border-radius: 15px;
    background-color: #a5d5a7;
    /* margin-left: 3px; */
    border: 3px solid #eee;
    padding: 3px;
    color: white;
    /* bottom: 0; */
    /* position: absolute; */
    /* margin-bottom: 5px; */
}

#tech-text {
    border-radius: 15px;
    background-color: #f490b1;
    border: 3px solid #eee;
    padding: 3px;
    color: white;
    /* margin-bottom: 5px; */
}

#oped-text {
    border-radius: 15px;
    background-color: #70b2e2;
    border: 3px solid #eee;
    padding: 3px;
    color: white;
    /* margin-bottom: 5px; */
}

#world-text {
    border-radius: 15px;
    background-color: #c694c3;
    border: 3px solid #eee;
    padding: 3px;
    color: white;
    /* margin-bottom: 5px; */
}

.art-div {
    background-color: rgba(165, 213, 167, 0.35);
    /* padding-top: 1rem; */
    /* padding-bottom: 1rem; */
    /* border-left: 1px solid #333333; */
    /* background-color: #f0f4c3; */
    /* z-index: -2; */
    /* background: repeating-linear-gradient(90deg, white, blue 45%, white 55%); */

}

.tech-div {
    background-color: rgba(244, 144, 177, 0.35);
}

.oped-div {
    background-color: rgba(112, 178, 226, 0.35);
}


.world-div {
    background-color: rgba(198, 148, 195, 0.35);
}



.categories {
    /* font-size: 0.7rem; */
    font-weight: bold;
    color: #333333;
    /* border-right: 0.5px solid #444; */
    /* border-left: 0.5px solid; */
    padding: 0;
    /* margin-left: 5px; */
    /* margin-right: 5px; */
}

.most-disc {
    color: #202e46;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.3rem;
}

.year {
    /* font-size: 2rem; */
    color: #202e46;
}

#yearnum {
    /* margin-top: 30px; */
}

.months {
    /* position: absolute; */
    font-size: 1rem;
    background-color: #eee;
    font-weight: bold;
    color: #202e46;
    /* opacity: 0.7; */
    /* vertical-align: middle; */
    /* top: 40%; */
    text-align: center;
    padding-top: 4rem;
    /* border-bottom: 4px solid #ddd; */
    /* border-bottom: 4px solid #ddd; */
    /* border-right: 2px solid #222; */

}

.event {
    /* position: absolute; */
    font-size: 0.85rem;
    font-weight: 700;
    color: #202e46;
    background-color: #eee;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: 4px solid #202e46;
    /* border-bottom: 4px solid #ddd; */
    /* border-radius: 10px; */
    /* top: 40%; */
}

#dots {
    padding-top: 20px;
    color: #333333;
    font-size: 2.5rem;
    opacity: 0.6;
}

#about {
    padding: 2px 0;
    border-bottom: 2px solid #202e46;
}

.label {
    /* font-size: 0.8rem; */
    /* font-weight: normal; */
    /* color: #bbb; */
    /* margin: 10px 0px; */
}


.d3-tip {
    background-color: #fff;
    color: #333;
    padding: 10px;
    font-size: 10px;
    border-radius: 2px;
    /*border-color: black;*/
    border: 1px solid lightgray;
    z-index: 99;
}

#footer-area {
    width: 100%;
    font-size: 1rem;
    color: #202e46;
    font-weight: 600;
    /* background-color: #ccdae6; */
    padding-top: 50px;
    /* border-top: 1px solid #03388c; */
}

.website {
    color: #ab0e25;
}

.prose {}


.bs-tooltip-top {
    font-size: 0.8rem;
    max-width: 140px;
    border-radius: 15px !important;
    /* text-align: left !important; */
}

.bs-tooltip-bottom {
    font-size: 0.8rem;
    max-width: 140px;
    border-radius: 15px !important;
    /* text-align: left !important; */
}

p.social {
    text-align: center;
    margin-top: 20px;
}

p.social a {
    margin: 0 10px 0 0;
    color: #fff;
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    line-height: 38px;
    font-size: 15px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    vertical-align: bottom;
}

p.social a i {
    /* vertical-align: bottom; */
    line-height: 38px;
    color: #ab0e25;
    ;
}

p.social a.twitter {
    /* background-color: #aaa; */
    color: #ab0e25;
    ;

}

.website {
    padding-top: 30px;
}

#title {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 5rem;
    color: #202e46;
    text-shadow: 0 0px 4px rgba(205, 205, 205, 1);
}

#subtitle {
    font-size: 1.8rem;
    /* opacity: 0.8; */
    color: #202e46;
    /* font-weight: 600; */
    text-shadow: 0 0px 4px rgba(205, 205, 205, 1);
}

#abstract-div {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.75);
}

#abstract {
    padding: 20px;
    font-size: 1.1rem;
    color: #eee;
    line-height: 2.1rem;
    ;
    /* font-weight: 700; */
}

#name {
    color: #222;
    font-weight: 700;
    font-size: 0.9rem;
    text-shadow: none;
    padding-top: 3rem;
    text-shadow: 0 0px 4px rgba(205, 205, 205, 1);
}

.footer-title {
    font-family: 'PT Serif', serif;
    font-size: 1.3rem;
    padding-bottom: 20px;
}

.prose {
    font-size: 0.9rem;
}

@media (max-width: 880px) {
    #title {
        font-size: 3.5rem;
    }

    #subtitle {
        font-size: 1rem;
    }

    #nyt-logo {
        /* height: 35px !important; */
    }

    #subtitle {
        font-size: 2rem;
    }

    #abstract-div {
        margin-left: 5%;
        margin-right: 5%;
    }

    #abstract {
        padding: 20px;
        /* font-size: 1.5rem; */
        color: #eee;
        /* line-height: 2.5rem; */
    }

    .img-box {
        height: 110px;
    }

    /* #yearnum {
        visibility: hidden;
    }

    .img-box {
        height: 60px;
    }

    .months {
        font-size: 0.5rem;
        padding-top: 2.5rem;
    }

    .eventP {
        font-size: 0.5rem;
    } */
}


@media (max-width: 414px) {

    #abstract-div {
        margin-top: 25px;
    }

    #abstract {
        font-size: 0.8rem;
        line-height: 1.7rem;
    }

    #subtitle {
        font-size: 1.5rem;
    }

    .content {
        padding-top: 40px;
    }

    #name {
        padding-top: 20px;
    }

    .eventP {
        font-size: 0.5rem;
        ;
    }

    .event {

        border-top: 2px solid #202e46;
    }

    #nyt-logo {
        height: 20px !important;
    }

    .col-2 {
        /* -ms-flex: 0 0 19.5%; */
        /* flex: 0 0 19.5%; */
        /* max-width: 19.5%; */
    }

    .year {
        /* display: none; */
    }

    #yearnum {
        /* display: none; */
        font-size: 1rem;
    }

    nav.navbar.sticky {
        padding: 0;
    }

    nav.navbar {
        padding: 0;
    }

    .img-box {
        height: 65px;
    }

    .months {
        font-size: 0.5rem;
        padding-top: 2.5rem;
    }

    .categories {
        padding: 0 !important;
        margin: 0 !important;
    }

    .img-div {
        /* border-right: 1px solid #444; */
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        /* border-bottom: 4px solid #eee; */
        z-index: 50;
    }

    .col-2 {
        padding-right: 0.3rem;
        padding-left: 0.3rem;
    }

    .most-disc {
        font-size: 0.8rem;
    }

    #arts-text,
    #tech-text,
    #oped-text,
    #world-text {
        font-size: 0.5rem;
    }

    #arts-text {
        font-size: 0.5rem;
    }
}